<div class="block-files">
  <ul class="files">
    {{ if (index .data.files 0).id }}
      {{/* Legacy */}}

      {{- range .data.files }}
        {{ if ne .id "" }}
          {{ partial "pagedjs/partials/blocks/files/file.html" (dict
            "id" .id
            "title" .title
            "image" .image
          ) }}
        {{ end }}
      {{ end }}
    {{ else }}
      {{/* New version */}}
      {{ $files := partial "helpers/objects/GetFromPathSlice" .data.files }}
      {{ range $files }}
        {{ partial "pagedjs/partials/blocks/files/file.html" (dict
          "id" .Params.original_blob.id
          "title" .Title
          "image" .Params.image
        ) }}
      {{ end }}
    {{ end }}
  </ul>
</div>